<div>
    <div class="forms">
        <app-cs-form-client></app-cs-form-client> 
        <app-cs-form-venta></app-cs-form-venta>
        <app-cs-form-producto></app-cs-form-producto>
        <app-cs-form-categoria></app-cs-form-categoria>
    </div>
    <br>
    <br>
    <br>
    <div class="tables">
        <app-cs-table-ventas></app-cs-table-ventas>
        <app-cs-table-categoria></app-cs-table-categoria>
        <app-cs-table-producto></app-cs-table-producto>
        <app-cs-table-client></app-cs-table-client>
    </div>

    <div class="update">
    </div>
</div>