<div mat-dialog-content class="dialog-cliente">
  <mat-form-field>
    <input  placeholder="Nombres " type="text" matInput  
    [(ngModel)]="data.nombres"  name="nombres" [value]="nombres">
  </mat-form-field>
  <mat-form-field>
    <input  placeholder="Apellidos" type="text" matInput  
    [(ngModel)]="data.apellidos"  name="apellidos" [value]="apellidos">
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker1" placeholder="Fecha" [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
  <!-- <button (click)="escribir()" >imprimir</button> -->
  <!-- <mat-form-field>
    <input  placeholder="Fecha " type="text" matInput  
    [(ngModel)]="data.to_char"  name="fecha" [value]="fecha">
  </mat-form-field> -->
  <mat-form-field>
    <input  placeholder="Correo " type="text" matInput  
    [(ngModel)]="data.correo"  name="correo" [value]="correo">
  </mat-form-field>
  <mat-form-field>
    <input  placeholder="Direccion " type="text" matInput  
    [(ngModel)]="data.direccion"  name="direccion" [value]="direccion">
  </mat-form-field>


  <div>
    <button mat-raised-button color="primary" mat-button 
    [mat-dialog-close]="data" cdkFocusInitial (click)="setClient()" 
    >Ok</button>
  </div>
</div>
