.dialog-cliente([formGroup]='clienteForm')
  mat-form-field.field
    input(placeholder='Nombres', type='text', matInput, formControlName ='nombres', name='nombres', required)
    mat-error(*ngIf="nombres.invalid") {{getErrorEmpty()}}  
  mat-form-field.field
    input(placeholder='Apellidos', type='text', matInput, formControlName ='apellidos', name='apellidos', required)
    mat-error(*ngIf="apellidos.invalid") {{getErrorEmpty()}}  
  mat-form-field.field
    input(matInput, placeholder='Fecha', [matDatepicker]='picker1', formControlName ='to_char', required)
    mat-datepicker-toggle(matSuffix, [for]='picker1')
    mat-datepicker(#picker1)
    mat-error(*ngIf="to_char.invalid") {{getErrorFecha()}}  
  mat-form-field.field
    input(placeholder='Correo ', type='text', matInput, formControlName ='correo', name='correo', required)
    mat-error(*ngIf="correo.invalid") {{getErrorEmail()}}  
  mat-form-field.field
    input(placeholder='Direccion ', type='text', matInput, formControlName ='direccion', name='direccion', required)
    mat-error(*ngIf="direccion.invalid") {{getErrorEmpty()}}  
  .field
    button.button( [disabled]='!clienteForm.valid' mat-raised-button, color='primary', mat-button, (click)='crearCliente()', [mat-dialog-close]='data') Ok
  //- p hola {{clienteForm.value.nvalid }}