<!-- 
<button mat-stroked-button color="primary"  (click)='isVisible()'>
    {{ msj }}
</button>

<form *ngIf='seeForm' method="" (submit)='agregarCliente(nombre,apellido,edad,correo,categoria_producto)'> 
  <div>
    <mat-form-field>
      <label for="">
        Nombre
        <input type="text" #nombre >
      </label> 
    </mat-form-field>
  </div>
  <div>
    <label for="">
      apellido
      <input type="text" #apellido>
    </label>
  </div>
  <div>
    <label for="">
      edad
      <input type="text" #edad>
    </label>
  </div>
  <div>
    <label for="">
      correo
      <input type="email" #correo name="" id="">
    </label>
  </div>
  <div>
    <button mat-raised-button color="primary">  
        Crear Usuario
    </button>
  </div>
</form> -->