
//- img([src]="imagen", alt="")

//- button( (click)='borrar()') borrar
div
    
div.comp(*ngFor='let producto of lista_productos')
    app-cs-card-elemento-compra([valid_card]='card_valid',[producto_item]='producto', (resolve)='getOutput($event)')

div.tabla
    //- div(*ngIf='noExiste()')
    app-cs-tabla-carrito([cambiado]='cambios',[total_ingreso]="total_ingreso",(resta_elemento)='recibirEliminado($event)')


br
br
br
br
br
br
br
