
<mat-form-field>
  <mat-select [(value)]="selected_client" placeholder="Escoje cliente">
    <mat-option *ngFor="let cliente of clientes" [value]="cliente.id_cliente">{{ cliente.nombres }}</mat-option>
  </mat-select>
  <p>{{ selected_client }} </p>
</mat-form-field>
<div class="comp" *ngFor="let producto of lista_productos">
  <app-cs-card-elemento-compra [producto_item]="producto" [id_cliente]="selected_client" (resolve)="getOutput($event)"></app-cs-card-elemento-compra>
</div>
<div class="tabla">
  <app-cs-tabla-carrito [cambiado]="cambios"></app-cs-tabla-carrito>
</div><br><br><br><br><br><br><br>