
<mat-form-field>
  <mat-select [(value)]="id_cliente">
    <mat-option *ngFor="let cliente of clientes" [value]="cliente.id_cliente">{{ cliente.nombres }}</mat-option>
  </mat-select>
</mat-form-field>
<div class="comp" *ngFor="let producto of lista_productos">
  <app-cs-card-elemento-compra [valid_card]="card_valid" [producto_item]="producto" (resolve)="getOutput($event)"></app-cs-card-elemento-compra>
</div>
<div class="tabla">
  <app-cs-tabla-carrito [cambiado]="cambios" [eventoTabComprar]="tabRespuesta" (eventoCarrito)="accionCompraRealizada($event)" [total_ingreso]="total_ingreso" [total_items]="total_items" (resta_elemento)="recibirEliminado($event)"></app-cs-tabla-carrito>
</div>