
//- img([src]="imagen", alt="")

//- button( (click)='borrar()') borrar

div.comp(*ngFor='let producto of lista_productos')
    app-cs-card-elemento-compra([producto_item]='producto', (resolve)='getOutput($event)')

div.tabla
    //- div(*ngIf='noExiste()')
    app-cs-tabla-carrito([cambiado]='cambios')


br
br
br
br
br
br
br
