<button (click)="isVisible()">{{ msj }}</button>
<div *ngIf='seeTable'>
  <table >
    <tr>
      <th *ngFor='let clients_title of clients_titles'>
        {{ clients_title }}
      </th>
    </tr>
    <tr *ngFor="let cliente of clientes">
      <td>
        {{ cliente.nombres }}
      </td>
      <td>
        {{ cliente.apellidos }}
      </td>
      <td>
        {{ cliente.direccion }}
      </td>
      <td>
        {{ cliente.to_char }}
      </td>
      <td>
        {{ cliente.correo }}
      </td>
      <!-- <button (click)="eliminarCliente(cliente)">Eliminar</button> -->
    </tr>
  </table>
  <button (click)="refresh()">Actualizar</button>
  <!-- <button (click)="setListSales()">ver</button> -->
</div>