<button (click)="isVisible()">{{ msj }}</button>
<div *ngIf='seeTable'>
  <table >
    <tr>
      <th *ngFor='let categories_title of categories_titles'>
        {{ categories_title }}
      </th>
    </tr>
    <tr *ngFor="let categoria of categorias">
      <td>
        {{ categoria.nombre_categoria }}
      </td>
      <!-- <button (click)="eliminarCliente(cliente)">Eliminar</button> -->
    </tr>
  </table>
  <button (click)="refresh()">Actualizar</button>
  <!-- <button (click)="setListSales()">ver</button> -->
</div>