button(mat-stroked-button, color='accent', (click)='isVisible()') {{ msj }}
.table-categoria(*ngIf='seeTable')
  table(mat-table, [dataSource]='categorias')
    ng-container(matColumnDef='id_categoria')
      th(mat-header-cell, *matHeaderCellDef)  id 
      td(mat-cell, *matCellDef='let categoria')  {{ categoria.id_categoria }} 
    ng-container(matColumnDef='nombre_categoria')
      th(mat-header-cell, *matHeaderCellDef)  Nombre 
      td(mat-cell, *matCellDef='let categoria')  {{ categoria.nombre_categoria }} 
    tr(mat-header-row, *matHeaderRowDef='categories_titles; sticky: true')
    tr(mat-row, *matRowDef='let row; columns: categories_titles;')
  button(mat-raised-button, color='accent', (click)='refresh()') Actualizar
    //- tbody
  //- // <button (click)="setListSales()">ver</button>
