mat-tab-group
  mat-tab(label="Comprar") 
    app-cs-tab-comprar
  mat-tab(label="Clientes") 
  | Content 1 
  mat-tab(label="Categorias") 
  | Content 2 
  mat-tab(label="Productos") 
  | Content 3 
  mat-tab(label="hola")
    app-cs-form-venta