mat-tab-group
  mat-tab(label="Comprar") 
    app-cs-tab-comprar
  mat-tab(label="Clientes") 
    app-cs-form-client
    app-cs-table-client
  mat-tab(label="Categorias") 
    app-cs-form-categoria
    app-cs-table-categoria
  mat-tab(label="Productos") 
    app-cs-form-producto
    app-cs-table-producto
  mat-tab(label="Ventas")
    app-cs-form-venta
    app-cs-table-ventas