<button mat-stroked-button color="accent" (click)="isVisible()">{{ msj }}</button>
<div *ngIf='seeTable'>
  <table>
    <tr>
      <th *ngFor='let sales_title of sales_titles'>
        {{ sales_title }}
      </th>
    </tr>
    <tr *ngFor="let venta of ventas">
      <td>
        {{ venta.nombre_producto }}
      </td>
      <td>
        {{ venta.nombres }}
      </td>
      <td>
        {{ venta.precio_venta }}
      </td>
      <td>
        {{ venta.to_char }}
      </td>
      <!-- <button (click)="eliminarCliente(cliente)">Eliminar</button> -->
    </tr>
  </table>
  <button mat-raised-button color="accent" (click)="refresh()">Actualizar</button>
  <!-- <button (click)="setListSales()">ver</button> -->
</div>   