
<button mat-stroked-button color="accent" (click)="isVisible()">{{ msj }}</button>
<div *ngIf="seeTable">
  <table mat-table [dataSource]="productos">
    <ng-container matColumnDef="id_producto">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let producto"> {{ producto.id_producto }} </td>
    </ng-container>
    <ng-container matColumnDef="nombre_producto">
      <th mat-header-cell *matHeaderCellDef> Nombre Producto </th>
      <td mat-cell *matCellDef="let producto"> {{ producto.nombre_producto }} </td>
    </ng-container>
    <ng-container matColumnDef="precio">
      <td mat-cell *matCellDef="let producto"> {{ producto.precio }} </td>
      <th mat-header-cell *matHeaderCellDef> Precio producto </th>
    </ng-container>
    <ng-container matColumnDef="nombre_categoria">
      <td mat-cell *matCellDef="let producto"> {{ producto.nombre_categoria }} </td>
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="atributosProducto ; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: atributosProducto ;"></tr>
  </table>
  <button mat-raised-button color="accent" (click)="refresh()">Actualizar Lista</button>
</div>
<div *ngIf="formHidden">
  <app-cs-table-update-producto [obj]="obj"></app-cs-table-update-producto>
</div>