<button mat-stroked-button color="accent" (click)="isVisible()">{{ msj }}</button>
<div *ngIf='seeTable'>
  <table >
    <tr>
      <th *ngFor='let product_title of product_titles'>
        {{ product_title }}
      </th>
    </tr>
    <tr *ngFor="let producto of productos">
      <!-- <form action=""> -->
        <td>
          <!-- <input type="" name="" id="" value=""> -->
          {{ producto.nombre_producto }}
        </td>
        <td>
          <input type="hidden" name="">
          {{ producto.precio }}
        </td>
        <td>
          {{ producto.nombre_categoria }}
        </td>
        <td>
          <button mat-button color="warn">Eliminar</button>
        </td>
      <!-- </form> -->
        <td>
          <button mat-button color="primary" (click)="setThings(producto.id_producto)">Actualizar elemento</button>
        </td>
      </tr>
    </table>
    <button mat-raised-button color="accent" (click)="refresh()">Actualizar Lista</button>
  <!-- <button (click)="setListSales()">ver</button> -->
</div>

<div *ngIf='formHidden'>
    <app-cs-table-update-producto [obj]="obj"></app-cs-table-update-producto>
</div>